### Data Analysis

In [1]:
import numpy as np
import pandas as pd

Read the cont ents of the file including the State (Area in Column 1, beginning in Row 4} and the census
1990 and 2000 (Columns Band C beginning at Row 5).

In [2]:
# Reading the file
df0=pd.read_excel('Attachment_1572378335-1.xlsx',skiprows=3)
df0

,Area,Total 2000,Total 1990,Ranking 2000,Ranking 1990
0,Alabama,4447100.0,4040587.0,23,22
1,Alaska,626932.0,550043.0,48,49
2,Arizona,5130632.0,3665228.0,20,24
3,Arkansas,2673400.0,2350725.0,33,33
4,California,33871648.0,29760021.0,1,1
...,...,...,...,...,...
66,NOTE: Consistent with the January 1999 U.S. S...,NaN,NaN,NaN,NaN
67,"of Representatives, 525 U.S. 316, 119 S. Ct. 7...",NaN,NaN,NaN,NaN
68,reflect the use of statistical sampling to cor...,NaN,NaN,NaN,NaN
69,"Source: U.S. Department of Commerce, U.S. Cen...",NaN,NaN,NaN,NaN
70,"Internet Release date: December 28, 2000",NaN,NaN,NaN,NaN

#### Write this data to a new workbook named panda_census_data.xlsx on a new worksheet named 'Census

In [3]:
# saving the data to a new file

df0.to_excel('panda_census_data.xlsx', sheet_name='Cencus')

#### Create a new worksheet named 'PopulationChangeRecords'. Find the following information among all areas (includes SO states plus the District of Columbia}

- Find the area with the highest change in population.
- Find the area with the lowest change in population.
- Find the average change in population among all areas.

Write those findings, including the area and the amount, to the table as shown in Figure 3.

In [4]:
# copying only the relevant rows in new dataframe
df1=df0.iloc[:51,:].copy()
df1

                        Area  Total 2000  Total 1990 Ranking 2000 Ranking 1990
0                    Alabama   4447100.0   4040587.0           23           22
1                     Alaska    626932.0    550043.0           48           49
2                    Arizona   5130632.0   3665228.0           20           24
3                   Arkansas   2673400.0   2350725.0           33           33
4                 California  33871648.0  29760021.0            1            1
5                   Colorado   4301261.0   3294394.0           24           26
6                Connecticut   3405565.0   3287116.0           29           27
7                   Delaware    783600.0    666168.0           45           46
8       District of Columbia    572059.0    606900.0         (NA)         (NA)
9                    Florida  15982378.0  12937926.0            4            4
10                   Georgia   8186453.0   6478216.0           10           11
11                    Hawaii   1211537.0   1108229.0           42           41
12                     Idaho   1293953.0   1006749.0           39           42
13                  Illinois  12419293.0  11430602.0            5            6
14                   Indiana   6080485.0   5544159.0           14           14
15                      Iowa   2926324.0   2776755.0           30           30
16                    Kansas   2688418.0   2477574.0           32           32
17                  Kentucky   4041769.0   3685296.0           25           23
18                 Louisiana   4468976.0   4219973.0           22           21
19                     Maine   1274923.0   1227928.0           40           38
20                  Maryland   5296486.0   4781468.0           19           19
21             Massachusetts   6349097.0   6016425.0           13           13
22                  Michigan   9938444.0   9295297.0            8            8
23                 Minnesota   4919479.0   4375099.0           21           20
24               Mississippi   2844658.0   2573216.0           31           31
25                  Missouri   5595211.0   5117073.0           17           15
26                   Montana    902195.0    799065.0           44           44
27                  Nebraska   1711263.0   1578385.0           38           36
28                    Nevada   1998257.0   1201833.0           35           39
29             New Hampshire   1235786.0   1109252.0           41           40
30                New Jersey   8414350.0   7730188.0            9            9
31                New Mexico   1819046.0   1515069.0           36           37
32                  New York  18976457.0  17990455.0            3            2
33            North Carolina   8049313.0   6628637.0           11           10
34              North Dakota    642200.0    638800.0           47           47
35                      Ohio  11353140.0  10847115.0            7            7
36                  Oklahoma   3450654.0   3145585.0           27           28
37                    Oregon   3421399.0   2842321.0           28           29
38              Pennsylvania  12281054.0  11881643.0            6            5
39              Rhode Island   1048319.0   1003464.0           43           43
40            South Carolina   4012012.0   3486703.0           26           25
41              South Dakota    754844.0    696004.0           46           45
42                 Tennessee   5689283.0   4877185.0           16           17
43                     Texas  20851820.0  16986510.0            2            3
44                      Utah   2233169.0   1722850.0           34           35
45                   Vermont    608827.0    562758.0           49           48
46                  Virginia   7078515.0   6187358.0           12           12
47                Washington   5894121.0   4866692.0           15           18
48             West Virginia   1808344.0   1793477.0           37           34
49                 Wisconsin   5363675.0   4891769.0           18           16
50                   Wyoming    493782.0    453588.0           50           50

In [5]:
# finding the change

df1['Change_in_population']=df1['Total 2000']-df1['Total 1990']
df1

,Area,Total 2000,Total 1990,Ranking 2000,Ranking 1990,Change_in_population
0,Alabama,4447100.0,4040587.0,23,22,406513.0
1,Alaska,626932.0,550043.0,48,49,76889.0
2,Arizona,5130632.0,3665228.0,20,24,1465404.0
3,Arkansas,2673400.0,2350725.0,33,33,322675.0
4,California,33871648.0,29760021.0,1,1,4111627.0
5,Colorado,4301261.0,3294394.0,24,26,1006867.0
6,Connecticut,3405565.0,3287116.0,29,27,118449.0
7,Delaware,783600.0,666168.0,45,46,117432.0
8,District of Columbia,572059.0,606900.0,(NA),(NA),-34841.0
9,Florida,15982378.0,12937926.0,4,4,3044452.0
10,Georgia,8186453.0,6478216.0,10,11,1708237.0
11,Hawaii,1211537.0,1108229.0,42,41,103308.0
12,Idaho,1293953.0,1006749.0,39,42,287204.0
13,Illinois,12419293.0,11430602.0,5,6,988691.0
14,Indiana,6080485.0,5544159.0,14,14,536326.0
15,Iowa,2926324.0,2776755.0,30,30,149569.0
16,Kansas,2688418.0,2477574.0,32,32,210844.0
17,Kentucky,4041769.0,3685296.0,25,23,356473.0
18,Louisiana,4468976.0,4219973.0,22,21,249003.0
19,Maine,1274923.0,1227928.0,40,38,46995.0
20,Maryland,5296486.0,4781468.0,19,19,515018.0
21,Massachusetts,6349097.0,6016425.0,13,13,332672.0
22,Michigan,9938444.0,9295297.0,8,8,643147.0
23,Minnesota,4919479.0,4375099.0,21,20,544380.0
24,Mississippi,2844658.0,2573216.0,31,31,271442.0
25,Missouri,5595211.0,5117073.0,17,15,478138.0
26,Montana,902195.0,799065.0,44,44,103130.0
27,Nebraska,1711263.0,1578385.0,38,36,132878.0
28,Nevada,1998257.0,1201833.0,35,39,796424.0
29,New Hampshire,1235786.0,1109252.0,41,40,126534.0
30,New Jersey,8414350.0,7730188.0,9,9,684162.0
31,New Mexico,1819046.0,1515069.0,36,37,303977.0
32,New York,18976457.0,17990455.0,3,2,986002.0
33,North Carolina,8049313.0,6628637.0,11,10,1420676.0
34,North Dakota,642200.0,638800.0,47,47,3400.0
35,Ohio,11353140.0,10847115.0,7,7,506025.0
36,Oklahoma,3450654.0,3145585.0,27,28,305069.0
37,Oregon,3421399.0,2842321.0,28,29,579078.0
38,Pennsylvania,12281054.0,11881643.0,6,5,399411.0
39,Rhode Island,1048319.0,1003464.0,43,43,44855.0
40,South Carolina,4012012.0,3486703.0,26,25,525309.0
41,South Dakota,754844.0,696004.0,46,45,58840.0
42,Tennessee,5689283.0,4877185.0,16,17,812098.0
43,Texas,20851820.0,16986510.0,2,3,3865310.0
44,Utah,2233169.0,1722850.0,34,35,510319.0
45,Vermont,608827.0,562758.0,49,48,46069.0
46,Virginia,7078515.0,6187358.0,12,12,891157.0
47,Washington,5894121.0,4866692.0,15,18,1027429.0
48,West Virginia,1808344.0,1793477.0,37,34,14867.0
49,Wisconsin,5363675.0,4891769.0,18,16,471906.0
50,Wyoming,493782.0,453588.0,50,50,40194.0

#### Find the area with the highest change in population.

In [6]:
df2=df1.sort_values('Change_in_population', ascending= False)
df2

,Area,Total 2000,Total 1990,Ranking 2000,Ranking 1990,Change_in_population
4,California,33871648.0,29760021.0,1,1,4111627.0
43,Texas,20851820.0,16986510.0,2,3,3865310.0
9,Florida,15982378.0,12937926.0,4,4,3044452.0
10,Georgia,8186453.0,6478216.0,10,11,1708237.0
2,Arizona,5130632.0,3665228.0,20,24,1465404.0
33,North Carolina,8049313.0,6628637.0,11,10,1420676.0
47,Washington,5894121.0,4866692.0,15,18,1027429.0
5,Colorado,4301261.0,3294394.0,24,26,1006867.0
13,Illinois,12419293.0,11430602.0,5,6,988691.0
32,New York,18976457.0,17990455.0,3,2,986002.0
46,Virginia,7078515.0,6187358.0,12,12,891157.0
42,Tennessee,5689283.0,4877185.0,16,17,812098.0
28,Nevada,1998257.0,1201833.0,35,39,796424.0
30,New Jersey,8414350.0,7730188.0,9,9,684162.0
22,Michigan,9938444.0,9295297.0,8,8,643147.0
37,Oregon,3421399.0,2842321.0,28,29,579078.0
23,Minnesota,4919479.0,4375099.0,21,20,544380.0
14,Indiana,6080485.0,5544159.0,14,14,536326.0
40,South Carolina,4012012.0,3486703.0,26,25,525309.0
20,Maryland,5296486.0,4781468.0,19,19,515018.0
44,Utah,2233169.0,1722850.0,34,35,510319.0
35,Ohio,11353140.0,10847115.0,7,7,506025.0
25,Missouri,5595211.0,5117073.0,17,15,478138.0
49,Wisconsin,5363675.0,4891769.0,18,16,471906.0
0,Alabama,4447100.0,4040587.0,23,22,406513.0
38,Pennsylvania,12281054.0,11881643.0,6,5,399411.0
17,Kentucky,4041769.0,3685296.0,25,23,356473.0
21,Massachusetts,6349097.0,6016425.0,13,13,332672.0
3,Arkansas,2673400.0,2350725.0,33,33,322675.0
36,Oklahoma,3450654.0,3145585.0,27,28,305069.0
31,New Mexico,1819046.0,1515069.0,36,37,303977.0
12,Idaho,1293953.0,1006749.0,39,42,287204.0
24,Mississippi,2844658.0,2573216.0,31,31,271442.0
18,Louisiana,4468976.0,4219973.0,22,21,249003.0
16,Kansas,2688418.0,2477574.0,32,32,210844.0
15,Iowa,2926324.0,2776755.0,30,30,149569.0
27,Nebraska,1711263.0,1578385.0,38,36,132878.0
29,New Hampshire,1235786.0,1109252.0,41,40,126534.0
6,Connecticut,3405565.0,3287116.0,29,27,118449.0
7,Delaware,783600.0,666168.0,45,46,117432.0
11,Hawaii,1211537.0,1108229.0,42,41,103308.0
26,Montana,902195.0,799065.0,44,44,103130.0
1,Alaska,626932.0,550043.0,48,49,76889.0
41,South Dakota,754844.0,696004.0,46,45,58840.0
19,Maine,1274923.0,1227928.0,40,38,46995.0
45,Vermont,608827.0,562758.0,49,48,46069.0
39,Rhode Island,1048319.0,1003464.0,43,43,44855.0
50,Wyoming,493782.0,453588.0,50,50,40194.0
48,West Virginia,1808344.0,1793477.0,37,34,14867.0
34,North Dakota,642200.0,638800.0,47,47,3400.0
8,District of Columbia,572059.0,606900.0,(NA),(NA),-34841.0

##### Highest population change

In [7]:
# the state with the highest change in population

df2.iloc[0]['Area'].strip()

'California'

In [8]:
# the highest change in population

df2.iloc[0]['Change_in_population']

4111627.0

##### Lowest population change

In [9]:
# State of Lowest change in Population

df2.iloc[-1]['Area'].strip()

'District of Columbia'

In [10]:
#  Lowest change in population state

df2.iloc[-1]['Change_in_population']

-34841.0

##### Averge change in Population

In [11]:
# averge change in Population

df2['Change_in_population'].mean()

641412.4117647059

In [12]:
data = [['Highest Change in Population', 'California', 4111627.0], ['Lowest Change in Population', 'District of Columbia', -34841.0], ['Averge Change in Population', np.NaN, 641412.41]] 

df_= pd.DataFrame(data,index=[1,2,3], columns=['item','state','record'])
# df_ = df_.fillna(0) # with 0s rather than NaNs
df_

                           item                 state      record
1  Highest Change in Population            California  4111627.00
2   Lowest Change in Population  District of Columbia   -34841.00
3   Averge Change in Population                   NaN   641412.41

In [14]:
# Saving a excel file with 2nd sheet
from openpyxl import load_workbook

with pd.ExcelWriter('panda_census_data.xlsx') as writer:  # doctest: +SKIP
    df0.to_excel(writer, sheet_name='Cencus')
    df_.to_excel(writer, sheet_name='PopulationChangeRecords')